{
  "log_level": "trace",
  "grpc_endpoint": {
    "address": "127.0.0.1",
    "port": 8910
  },
  "http_endpoint": {
    "address": "127.0.0.1",
    "port": 8911
  },
  "runtime_config": {
    "store": {
      "driver": "redis",
      "ping_timeout_second": 5,
      "redis": {
        "addr": "127.0.0.1",
        "port": "6379",
        "username": "",
        "password": "",
        "dbid": 0
      }
    }
  }
}