{
  "swagger": "2.0",
  "info": {
    "title": "Wedo API Doc",
    "version": "1.0",
    "contact": {
      "name": "wedo-workflow/wedo project",
      "url": "https://github.com/wedo-workflow/wedo",
      "email": "jony4xx@gmail.com"
    }
  },
  "tags": [
    {
      "name": "WedoService"
    }
  ],
  "host": "swagger.wedo.run",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/deployment/create": {
      "post": {
        "summary": "Creates a deployment.",
        "operationId": "WedoService_DeploymentCreate",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1DeploymentCreateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1DeploymentCreateRequest"
            }
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/deployment/{deploymentId}": {
      "get": {
        "summary": "Get a deployment.",
        "operationId": "WedoService_DeploymentGet",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1DeploymentResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      },
      "delete": {
        "summary": "Delete a deployment.",
        "operationId": "WedoService_DeploymentDelete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1DeploymentDeleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/deployments": {
      "get": {
        "summary": "Updates a deployment.",
        "operationId": "WedoService_DeploymentList",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1DeploymentListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "WedoService"
        ]
      }
    },
    "/namespace/create": {
      "post": {
        "summary": "Create a Namespace.",
        "operationId": "WedoService_NamespaceCreate",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1NamespaceCreateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1NamespaceCreateRequest"
            }
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/namespace/{namespaceId}": {
      "get": {
        "summary": "Get a Namespace.",
        "operationId": "WedoService_NamespaceGet",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1NamespaceResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "namespaceId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      },
      "delete": {
        "summary": "Delete a Namespace.",
        "operationId": "WedoService_NamespaceDelete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1NamespaceDeleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "namespaceId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/namespaces": {
      "get": {
        "summary": "List all Namespaces.",
        "operationId": "WedoService_NamespaceList",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1NamespaceListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "WedoService"
        ]
      }
    },
    "/namespaces/count": {
      "get": {
        "summary": "Count all Namespaces.",
        "operationId": "WedoService_NamespaceListCount",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1NamespaceListCountResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "WedoService"
        ]
      }
    },
    "/process-definition/key/{processDefinitionKey}/namespace-id/{namespaceId}": {
      "get": {
        "summary": "ProcessDefinitionGet get a process definition by business key and namespace id.",
        "operationId": "WedoService_ProcessDefinitionGet",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ProcessDefinitionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "processDefinitionKey",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespaceId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/process-definition/key/{processDefinitionKey}/namespace-id/{namespaceId}/start": {
      "post": {
        "summary": "ProcessDefinitionStart Process Definition Start and return Process Instance ID",
        "operationId": "WedoService_ProcessDefinitionStart",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ProcessDefinitionStartResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "processDefinitionKey",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespaceId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/process-definition/{id}": {
      "get": {
        "summary": "ProcessDefinitionGet get a process definition by business key and namespace id.",
        "operationId": "WedoService_ProcessDefinitionGet2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ProcessDefinitionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "processDefinitionKey",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespaceId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/process-instance/{processInstanceId}": {
      "get": {
        "summary": "todo ProcessInstanceGet get a process instance by id.",
        "operationId": "WedoService_ProcessInstanceGet",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ProcessInstanceResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "processInstanceId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      },
      "put": {
        "summary": "todo ProcessModify modify a process instance.",
        "operationId": "WedoService_ProcessModify",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ProcessModifyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "processInstanceId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "processDefinitionKey": {
                  "type": "string"
                },
                "namespaceId": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/process-instance/{processInstanceId}/suspended": {
      "post": {
        "summary": "todo Process Activate/Suspend a process instance.",
        "operationId": "WedoService_ProcessActivateSuspend",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ProcessActivateSuspendResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "processInstanceId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "suspend",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/task/create": {
      "post": {
        "summary": "TaskCreate create a task.",
        "operationId": "WedoService_TaskCreate",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1TaskCreateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1TaskCreateRequest"
            }
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/task/{taskId}": {
      "get": {
        "summary": "TaskGet get a task by id.",
        "operationId": "WedoService_TaskGet",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1TaskResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      },
      "delete": {
        "summary": "TaskDelete delete a task.",
        "operationId": "WedoService_TaskDelete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1TaskDeleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/task/{taskId}/assign": {
      "put": {
        "summary": "todo TaskAssign assign a task.",
        "operationId": "WedoService_TaskAssign",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1TaskAssignResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/task/{taskId}/claim": {
      "put": {
        "summary": "todo TaskClaim claim a task.",
        "operationId": "WedoService_TaskClaim",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1TaskClaimResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/task/{taskId}/complete": {
      "put": {
        "summary": "todo TaskComplete complete a task.",
        "operationId": "WedoService_TaskComplete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1TaskCompleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/task/{taskId}/delegate": {
      "put": {
        "summary": "todo TaskDelegate delegate a task.",
        "operationId": "WedoService_TaskDelegate",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1TaskDelegateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/task/{taskId}/deployed-form": {
      "get": {
        "summary": "todo TaskDeployedForm get task's deployed form.",
        "operationId": "WedoService_TaskDeployedForm",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1TaskDeployedFormResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/task/{taskId}/form-key": {
      "get": {
        "summary": "todo TaskGetFormKey get a form key from a task.",
        "operationId": "WedoService_TaskGetFormKey",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1TaskGetFormKeyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/task/{taskId}/resolve": {
      "put": {
        "summary": "todo TaskResolve resolve a task.",
        "operationId": "WedoService_TaskResolve",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1TaskResolveResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/task/{taskId}/submit-form": {
      "post": {
        "summary": "todo TaskSubmitForm submit a form to a task.",
        "operationId": "WedoService_TaskSubmitForm",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1TaskSubmitFormResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "formKey": {
                  "type": "string"
                },
                "formData": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/task/{taskId}/unclaim": {
      "put": {
        "summary": "todo TaskUnclaim unclaim a task.",
        "operationId": "WedoService_TaskUnclaim",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1TaskUnclaimResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/tasks": {
      "get": {
        "summary": "TaskList list all tasks By Process Instance ID.",
        "operationId": "WedoService_TaskList",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1TaskListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "processInstanceId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/user/create": {
      "post": {
        "summary": "Create a User.",
        "operationId": "WedoService_UserCreate",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1UserCreateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1UserCreateRequest"
            }
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/user/{userId}": {
      "get": {
        "summary": "Get a User.",
        "operationId": "WedoService_UserGet",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1UserResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      },
      "delete": {
        "summary": "Delete a User.",
        "operationId": "WedoService_UserDelete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1UserDeleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      },
      "put": {
        "summary": "Update a User.",
        "operationId": "WedoService_UserUpdate",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1UserUpdateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/users": {
      "get": {
        "summary": "List all Users.",
        "operationId": "WedoService_UserList",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1UserListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "namespaceId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/users/count": {
      "get": {
        "operationId": "WedoService_UserListCount",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1UserListCountResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "namespaceId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    }
  },
  "definitions": {
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "v1DeploymentCreateRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "content": {
          "type": "string",
          "format": "byte"
        },
        "namespaceId": {
          "type": "string"
        }
      }
    },
    "v1DeploymentCreateResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "content": {
          "type": "string",
          "format": "byte"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        },
        "namespaceId": {
          "type": "string"
        }
      }
    },
    "v1DeploymentDeleteResponse": {
      "type": "object"
    },
    "v1DeploymentListResponse": {
      "type": "object",
      "properties": {
        "deployments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1DeploymentResponse"
          }
        }
      }
    },
    "v1DeploymentResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "content": {
          "type": "string",
          "format": "byte"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "v1NamespaceCreateRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "v1NamespaceCreateResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "v1NamespaceDeleteResponse": {
      "type": "object"
    },
    "v1NamespaceListCountResponse": {
      "type": "object",
      "properties": {
        "count": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "v1NamespaceListResponse": {
      "type": "object",
      "properties": {
        "namespaces": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1NamespaceResponse"
          }
        }
      }
    },
    "v1NamespaceResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "v1ProcessActivateSuspendResponse": {
      "type": "object"
    },
    "v1ProcessDefinitionResponse": {
      "type": "object",
      "properties": {
        "processDefinitionKey": {
          "type": "string"
        },
        "namespaceId": {
          "type": "string"
        }
      }
    },
    "v1ProcessDefinitionStartResponse": {
      "type": "object",
      "properties": {
        "processInstanceId": {
          "type": "string"
        }
      }
    },
    "v1ProcessInstanceResponse": {
      "type": "object"
    },
    "v1ProcessModifyResponse": {
      "type": "object"
    },
    "v1TaskAssignResponse": {
      "type": "object"
    },
    "v1TaskClaimResponse": {
      "type": "object"
    },
    "v1TaskCompleteResponse": {
      "type": "object"
    },
    "v1TaskCreateRequest": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "assignee": {
          "type": "string"
        },
        "owner": {
          "type": "string"
        },
        "delegationState": {
          "type": "string"
        },
        "due": {
          "type": "string",
          "format": "date-time"
        },
        "priority": {
          "type": "string"
        },
        "parentTaskId": {
          "type": "string"
        },
        "processInstanceId": {
          "type": "string"
        },
        "taskDefinitionKey": {
          "type": "string"
        },
        "namespaceId": {
          "type": "string"
        },
        "formKey": {
          "type": "string"
        },
        "followUpDate": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "v1TaskCreateResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "v1TaskDelegateResponse": {
      "type": "object"
    },
    "v1TaskDeleteResponse": {
      "type": "object"
    },
    "v1TaskDeployedFormResponse": {
      "type": "object",
      "properties": {
        "formKey": {
          "type": "string"
        },
        "formData": {
          "type": "string"
        }
      }
    },
    "v1TaskGetFormKeyResponse": {
      "type": "object",
      "properties": {
        "formKey": {
          "type": "string"
        }
      }
    },
    "v1TaskListResponse": {
      "type": "object",
      "properties": {
        "tasks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1TaskResponse"
          }
        }
      }
    },
    "v1TaskResolveResponse": {
      "type": "object"
    },
    "v1TaskResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "assignee": {
          "type": "string"
        },
        "owner": {
          "type": "string"
        },
        "delegationState": {
          "type": "string"
        },
        "due": {
          "type": "string",
          "format": "date-time"
        },
        "priority": {
          "type": "string"
        },
        "parentTaskId": {
          "type": "string"
        },
        "processInstanceId": {
          "type": "string"
        },
        "taskDefinitionKey": {
          "type": "string"
        },
        "namespaceId": {
          "type": "string"
        },
        "formKey": {
          "type": "string"
        },
        "followUpDate": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "v1TaskSubmitFormResponse": {
      "type": "object"
    },
    "v1TaskUnclaimResponse": {
      "type": "object"
    },
    "v1UserCreateRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "v1UserCreateResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "v1UserDeleteResponse": {
      "type": "object"
    },
    "v1UserListCountResponse": {
      "type": "object",
      "properties": {
        "count": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "v1UserListResponse": {
      "type": "object",
      "properties": {
        "users": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1UserResponse"
          }
        }
      }
    },
    "v1UserResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "v1UserUpdateResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    }
  }
}
