{
  "swagger": "2.0",
  "info": {
    "title": "Wedo API Doc",
    "version": "1.0.0",
    "contact": {
      "name": "wedo-workflow/wedo project",
      "url": "https://github.com/wedo-workflow/wedo",
      "email": "im@jony4.pro"
    }
  },
  "tags": [
    {
      "name": "WedoService"
    }
  ],
  "host": "demo.wedo.run",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/deployment/create": {
      "post": {
        "summary": "Creates a deployment.",
        "operationId": "WedoService_DeploymentCreate",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoDeploymentCreateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/wedoDeploymentCreateRequest"
            }
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/deployment/{deploymentId}": {
      "get": {
        "summary": "Get a deployment.",
        "operationId": "WedoService_DeploymentGet",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoDeploymentResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      },
      "delete": {
        "summary": "Delete a deployment.",
        "operationId": "WedoService_DeploymentDelete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoDeploymentDeleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/deployments": {
      "get": {
        "summary": "Updates a deployment.",
        "operationId": "WedoService_DeploymentList",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoDeploymentListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "WedoService"
        ]
      }
    },
    "/group/create": {
      "post": {
        "summary": "todo",
        "operationId": "WedoService_GroupCreate",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoGroupCreateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/wedoGroupCreateRequest"
            }
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/group/{groupId}": {
      "get": {
        "summary": "todo",
        "operationId": "WedoService_GroupGet",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoGroupResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      },
      "delete": {
        "summary": "todo",
        "operationId": "WedoService_GroupDelete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoGroupDeleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      },
      "put": {
        "summary": "todo",
        "operationId": "WedoService_GroupUpdate",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoGroupUpdateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "namespaceId": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/groups": {
      "get": {
        "summary": "todo",
        "operationId": "WedoService_GroupList",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoGroupListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "namespaceId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/namespace/create": {
      "post": {
        "summary": "Create a Namespace.",
        "operationId": "WedoService_NamespaceCreate",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoNamespaceCreateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/wedoNamespaceCreateRequest"
            }
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/namespace/{namespaceId}": {
      "get": {
        "summary": "Get a Namespace.",
        "operationId": "WedoService_NamespaceGet",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoNamespaceResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "namespaceId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      },
      "delete": {
        "summary": "Delete a Namespace.",
        "operationId": "WedoService_NamespaceDelete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoNamespaceDeleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "namespaceId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/namespaces": {
      "get": {
        "summary": "List all Namespaces.",
        "operationId": "WedoService_NamespaceList",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoNamespaceListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "WedoService"
        ]
      }
    },
    "/namespaces/count": {
      "get": {
        "summary": "Count all Namespaces.",
        "operationId": "WedoService_NamespaceListCount",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoNamespaceListCountResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "WedoService"
        ]
      }
    },
    "/process-definition/{id}": {
      "get": {
        "summary": "ProcessDefinitionGet get a process definition by business key and namespace id.",
        "operationId": "WedoService_ProcessDefinitionGet",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoProcessDefinitionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "processDefinitionKey",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespaceId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/process-definition/{id}/start": {
      "post": {
        "summary": "ProcessDefinitionStart Process Definition Start and return Process Instance ID",
        "operationId": "WedoService_ProcessDefinitionStart",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoProcessDefinitionStartResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "processDefinitionKey": {
                  "type": "string"
                },
                "namespaceId": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/process-instance/{processInstanceId}": {
      "get": {
        "summary": "ProcessInstanceGet get a process instance by id.",
        "operationId": "WedoService_ProcessInstanceGet",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoProcessInstanceResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "processInstanceId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      },
      "put": {
        "summary": "todo ProcessModify modify a process instance.",
        "operationId": "WedoService_ProcessInstanceModify",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoProcessModifyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "processInstanceId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "processDefinitionKey": {
                  "type": "string"
                },
                "namespaceId": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/process-instance/{processInstanceId}/suspended": {
      "post": {
        "summary": "Process Instance Activate/Suspend a process instance.",
        "operationId": "WedoService_ProcessInstanceActivateSuspend",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoProcessActivateSuspendResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "processInstanceId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "suspend",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/task/create": {
      "post": {
        "summary": "TaskCreate create a task.",
        "operationId": "WedoService_TaskCreate",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoTaskCreateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/wedoTaskCreateRequest"
            }
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/task/{taskId}": {
      "get": {
        "summary": "TaskGet get a task by id.",
        "operationId": "WedoService_TaskGet",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoTaskResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      },
      "delete": {
        "summary": "TaskDelete delete a task.",
        "operationId": "WedoService_TaskDelete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoTaskDeleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/task/{taskId}/assign": {
      "put": {
        "summary": "todo TaskAssign assign a task.",
        "operationId": "WedoService_TaskAssign",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoTaskAssignResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/task/{taskId}/claim": {
      "put": {
        "summary": "todo TaskClaim claim a task.",
        "operationId": "WedoService_TaskClaim",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoTaskClaimResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/task/{taskId}/complete": {
      "put": {
        "summary": "todo TaskComplete complete a task.",
        "operationId": "WedoService_TaskComplete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoTaskCompleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/task/{taskId}/delegate": {
      "put": {
        "summary": "todo TaskDelegate delegate a task.",
        "operationId": "WedoService_TaskDelegate",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoTaskDelegateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/task/{taskId}/deployed-form": {
      "get": {
        "summary": "todo TaskDeployedForm get task's deployed form.",
        "operationId": "WedoService_TaskDeployedForm",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoTaskDeployedFormResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/task/{taskId}/form-key": {
      "get": {
        "summary": "todo TaskGetFormKey get a form key from a task.",
        "operationId": "WedoService_TaskGetFormKey",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoTaskGetFormKeyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/task/{taskId}/resolve": {
      "put": {
        "summary": "todo TaskResolve resolve a task.",
        "operationId": "WedoService_TaskResolve",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoTaskResolveResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/task/{taskId}/submit-form": {
      "post": {
        "summary": "todo TaskSubmitForm submit a form to a task.",
        "operationId": "WedoService_TaskSubmitForm",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoTaskSubmitFormResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "formKey": {
                  "type": "string"
                },
                "formData": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/task/{taskId}/unclaim": {
      "put": {
        "summary": "todo TaskUnclaim unclaim a task.",
        "operationId": "WedoService_TaskUnclaim",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoTaskUnclaimResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/tasks": {
      "get": {
        "summary": "TaskList list all tasks By Process Instance ID.",
        "operationId": "WedoService_TaskList",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoTaskListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "processInstanceId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/user/create": {
      "post": {
        "summary": "Create a User.",
        "operationId": "WedoService_UserCreate",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoUserCreateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/wedoUserCreateRequest"
            }
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/user/{userId}": {
      "get": {
        "summary": "Get a User.",
        "operationId": "WedoService_UserGet",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoUserResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      },
      "delete": {
        "summary": "Delete a User.",
        "operationId": "WedoService_UserDelete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoUserDeleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      },
      "put": {
        "summary": "Update a User.",
        "operationId": "WedoService_UserUpdate",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoUserUpdateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/users": {
      "get": {
        "summary": "List all Users.",
        "operationId": "WedoService_UserList",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoUserListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "namespaceId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    },
    "/users/count": {
      "get": {
        "operationId": "WedoService_UserListCount",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wedoUserListCountResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "namespaceId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WedoService"
        ]
      }
    }
  },
  "definitions": {
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "wedoDeploymentCreateRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "content": {
          "type": "string",
          "format": "byte"
        },
        "namespaceId": {
          "type": "string"
        }
      }
    },
    "wedoDeploymentCreateResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "content": {
          "type": "string",
          "format": "byte"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        },
        "namespaceId": {
          "type": "string"
        },
        "processDefinitionId": {
          "type": "string"
        }
      }
    },
    "wedoDeploymentDeleteResponse": {
      "type": "object"
    },
    "wedoDeploymentListResponse": {
      "type": "object",
      "properties": {
        "deployments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/wedoDeploymentResponse"
          }
        }
      }
    },
    "wedoDeploymentResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "content": {
          "type": "string",
          "format": "byte"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        },
        "processDefinitionId": {
          "type": "string"
        }
      }
    },
    "wedoGroupCreateRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "namespaceId": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "wedoGroupCreateResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "wedoGroupDeleteResponse": {
      "type": "object"
    },
    "wedoGroupListResponse": {
      "type": "object",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/wedoGroupResponse"
          }
        }
      }
    },
    "wedoGroupResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "namespaceId": {
          "type": "string"
        }
      }
    },
    "wedoGroupUpdateResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "namespaceId": {
          "type": "string"
        }
      }
    },
    "wedoNamespaceCreateRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "wedoNamespaceCreateResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "wedoNamespaceDeleteResponse": {
      "type": "object"
    },
    "wedoNamespaceListCountResponse": {
      "type": "object",
      "properties": {
        "count": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "wedoNamespaceListResponse": {
      "type": "object",
      "properties": {
        "namespaces": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/wedoNamespaceResponse"
          }
        }
      }
    },
    "wedoNamespaceResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "wedoProcessActivateSuspendResponse": {
      "type": "object"
    },
    "wedoProcessDefinitionResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "processDefinitionKey": {
          "type": "string"
        },
        "namespaceId": {
          "type": "string"
        }
      }
    },
    "wedoProcessDefinitionStartResponse": {
      "type": "object",
      "properties": {
        "processInstanceId": {
          "type": "string"
        }
      }
    },
    "wedoProcessInstanceResponse": {
      "type": "object",
      "properties": {
        "processInstanceId": {
          "type": "string"
        },
        "processDefinitionKey": {
          "type": "string"
        },
        "namespaceId": {
          "type": "string"
        },
        "state": {
          "$ref": "#/definitions/wedoProcessInstanceState"
        }
      }
    },
    "wedoProcessInstanceState": {
      "type": "string",
      "enum": [
        "INITIALIZED",
        "STARTED",
        "COMPLETED",
        "ABORTED",
        "FAILED",
        "SUSPENDED"
      ],
      "default": "INITIALIZED"
    },
    "wedoProcessModifyResponse": {
      "type": "object"
    },
    "wedoTaskAssignResponse": {
      "type": "object"
    },
    "wedoTaskClaimResponse": {
      "type": "object"
    },
    "wedoTaskCompleteResponse": {
      "type": "object"
    },
    "wedoTaskCreateRequest": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "assignee": {
          "type": "string"
        },
        "owner": {
          "type": "string"
        },
        "delegationState": {
          "type": "string"
        },
        "due": {
          "type": "string",
          "format": "date-time"
        },
        "priority": {
          "type": "string"
        },
        "parentTaskId": {
          "type": "string"
        },
        "processInstanceId": {
          "type": "string"
        },
        "taskDefinitionKey": {
          "type": "string"
        },
        "namespaceId": {
          "type": "string"
        },
        "formKey": {
          "type": "string"
        },
        "followUpDate": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "wedoTaskCreateResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "wedoTaskDelegateResponse": {
      "type": "object"
    },
    "wedoTaskDeleteResponse": {
      "type": "object"
    },
    "wedoTaskDeployedFormResponse": {
      "type": "object",
      "properties": {
        "formKey": {
          "type": "string"
        },
        "formData": {
          "type": "string"
        }
      }
    },
    "wedoTaskGetFormKeyResponse": {
      "type": "object",
      "properties": {
        "formKey": {
          "type": "string"
        }
      }
    },
    "wedoTaskListResponse": {
      "type": "object",
      "properties": {
        "tasks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/wedoTaskResponse"
          }
        }
      }
    },
    "wedoTaskResolveResponse": {
      "type": "object"
    },
    "wedoTaskResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "assignee": {
          "type": "string"
        },
        "owner": {
          "type": "string"
        },
        "delegationState": {
          "type": "string"
        },
        "due": {
          "type": "string",
          "format": "date-time"
        },
        "priority": {
          "type": "string"
        },
        "parentTaskId": {
          "type": "string"
        },
        "processInstanceId": {
          "type": "string"
        },
        "taskDefinitionKey": {
          "type": "string"
        },
        "namespaceId": {
          "type": "string"
        },
        "formKey": {
          "type": "string"
        },
        "followUpDate": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "wedoTaskSubmitFormResponse": {
      "type": "object"
    },
    "wedoTaskUnclaimResponse": {
      "type": "object"
    },
    "wedoUserCreateRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "wedoUserCreateResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "wedoUserDeleteResponse": {
      "type": "object"
    },
    "wedoUserListCountResponse": {
      "type": "object",
      "properties": {
        "count": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "wedoUserListResponse": {
      "type": "object",
      "properties": {
        "users": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/wedoUserResponse"
          }
        }
      }
    },
    "wedoUserResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "wedoUserUpdateResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    }
  }
}
